In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.read_csv('minimum_wage - Minimum Wage Data.csv', encoding='latin')

In [ ]:
df1.head()

     Year       State  effective_min_wage  effective_min_2020
432  1976     Alabama                 2.2               10.00
433  1976      Alaska                 2.8               12.73
434  1976     Arizona                 2.2               10.00
435  1976    Arkansas                 2.2               10.00
436  1976  California                 2.2               10.00

In [ ]:
df2 = pd.read_csv('unemployment - ststdsadata.csv')

In [ ]:
df2.head()

   Unnamed: 0       State  Year  Month     Population  Unemployment Rate
0           1     Alabama  1976      1   2,605,000                   6.6
1           2      Alaska  1976      1     232,000                   7.1
2           4     Arizona  1976      1   1,621,000                  10.2
3           5    Arkansas  1976      1   1,536,000                   7.3
4           6  California  1976      1  15,621,000                   9.2

In [ ]:
df1['State'].unique()

#Guam, Puerto Rico, U.S. Virgin Islands

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
       'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'U.S. Virgin Islands',
       'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'], dtype=object)

In [ ]:
df1.drop(df1[df1['State'] == 'Guam'].index, inplace = True)
df1.drop(df1[df1['State'] == 'Puerto Rico'].index, inplace = True)
df1.drop(df1[df1['State'] == 'U.S. Virgin Islands'].index, inplace = True)

In [ ]:
df2['State'].unique()

#Los Angeles County, New York city

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Los Angeles County', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'New York city', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

In [ ]:
df2.drop(df2[df2['State'] == 'Los Angeles County'].index, inplace = True)
df2.drop(df2[df2['State'] == 'New York city'].index, inplace = True)

In [ ]:
df1['Year'].unique()

array([1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978,
       1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
       1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])

In [ ]:
df1.drop(df1[df1['Year'] == 1968].index, inplace = True)
df1.drop(df1[df1['Year'] == 1969].index, inplace = True)
df1.drop(df1[df1['Year'] == 1970].index, inplace = True)
df1.drop(df1[df1['Year'] == 1971].index, inplace = True)
df1.drop(df1[df1['Year'] == 1972].index, inplace = True)
df1.drop(df1[df1['Year'] == 1973].index, inplace = True)
df1.drop(df1[df1['Year'] == 1974].index, inplace = True)
df1.drop(df1[df1['Year'] == 1975].index, inplace = True)

In [ ]:
df2['Year'].unique()

array([1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021])

In [ ]:
df2.drop(df2[df2['Year'] == 2021].index, inplace = True)

In [ ]:
df2['effective_min_wage'] = pd.Series(np.random.randn(len(df2['Year'])), index=df2.index)

In [ ]:
df2['effective_min_2020'] = pd.Series(np.random.randn(len(df2['Year'])), index=df2.index)

In [ ]:
df2

       Unnamed: 0          State  ...  effective_min_wage  effective_min_2020
0               1        Alabama  ...            0.575692           -1.459675
1               2         Alaska  ...            0.973587            0.046469
2               4        Arizona  ...           -2.111236           -1.780518
3               5       Arkansas  ...            1.507732           -0.095461
4               6     California  ...           -0.773605           -1.693494
...           ...            ...  ...                 ...                 ...
28615          51       Virginia  ...           -0.920038           -1.073446
28616          53     Washington  ...            1.161649           -0.693378
28617          54  West Virginia  ...           -0.565330            0.654830
28618          55      Wisconsin  ...           -0.046736            0.844674
28619          56        Wyoming  ...            1.194439            0.357576

[27540 rows x 8 columns]

In [ ]:
for i, row in df2.iterrows():
  df2.loc[i, 'effective_min_wage'] = df1.loc[(df1['Year'] == row['Year']) & (df1['State'] == row['State'])]['effective_min_wage'].values[0]
  df2.loc[i, 'effective_min_2020'] = df1.loc[(df1['Year'] == row['Year']) & (df1['State'] == row['State'])]['effective_min_2020'].values[0]

  #df2.set_value(i,'effective_min_wage',min_wage)
  #df2.set_value(i,'effective_min_2020',min_2020)

In [ ]:
df2

       Unnamed: 0          State  ...  effective_min_wage  effective_min_2020
0               1        Alabama  ...                2.20               10.00
1               2         Alaska  ...                2.80               12.73
2               4        Arizona  ...                2.20               10.00
3               5       Arkansas  ...                2.20               10.00
4               6     California  ...                2.20               10.00
...           ...            ...  ...                 ...                 ...
28615          51       Virginia  ...                7.25                7.25
28616          53     Washington  ...               13.50               13.50
28617          54  West Virginia  ...                8.75                8.75
28618          55      Wisconsin  ...                7.25                7.25
28619          56        Wyoming  ...                7.25                7.25

[27540 rows x 8 columns]

In [ ]:
df2.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df2

               State  Year  ...  effective_min_wage effective_min_2020
0            Alabama  1976  ...                2.20              10.00
1             Alaska  1976  ...                2.80              12.73
2            Arizona  1976  ...                2.20              10.00
3           Arkansas  1976  ...                2.20              10.00
4         California  1976  ...                2.20              10.00
...              ...   ...  ...                 ...                ...
28615       Virginia  2020  ...                7.25               7.25
28616     Washington  2020  ...               13.50              13.50
28617  West Virginia  2020  ...                8.75               8.75
28618      Wisconsin  2020  ...                7.25               7.25
28619        Wyoming  2020  ...                7.25               7.25

[27540 rows x 7 columns]

In [ ]:
df2['Population'] = df2['Population'].str.rstrip()

In [ ]:
df2 = df2.replace(',','', regex=True)

In [ ]:
df2['Population'][2]

'1621000'

In [ ]:
pd.to_numeric(df2['State'],errors='coerce')

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
28615   NaN
28616   NaN
28617   NaN
28618   NaN
28619   NaN
Name: State, Length: 27540, dtype: float64

In [ ]:
df2['State'].unique()

state_dic = {'Alabama': 1, 
             'Alaska': 2, 
             'Arizona': 3, 
             'Arkansas': 4, 
             'California': 5,
             'Colorado': 6, 
             'Connecticut': 7, 
             'Delaware': 8, 
             'District of Columbia': 9,
             'Florida': 10, 
             'Georgia': 11, 
             'Hawaii': 12, 
             'Idaho': 13, 
             'Illinois': 14, 
             'Indiana': 15,
             'Iowa': 16, 
             'Kansas': 17, 
             'Kentucky': 18, 
             'Louisiana': 19, 
             'Maine': 20, 
             'Maryland': 21,
             'Massachusetts': 22, 
             'Michigan': 23, 
             'Minnesota': 24, 
             'Mississippi': 25,
             'Missouri': 26, 
             'Montana': 27, 
             'Nebraska': 28, 
             'Nevada': 29, 
             'New Hampshire': 30,
             'New Jersey': 31, 
             'New Mexico': 32, 
             'New York': 33, 
             'North Carolina': 34,
             'North Dakota': 35, 
             'Ohio': 36, 
             'Oklahoma': 37, 
             'Oregon': 38, 
             'Pennsylvania': 39,
             'Rhode Island': 40, 
             'South Carolina': 41, 
             'South Dakota': 42, 
             'Tennessee': 43,
             'Texas': 44, 
             'Utah': 45, 
             'Vermont': 46, 
             'Virginia': 47, 
             'Washington': 48,
             'West Virginia': 49, 
             'Wisconsin': 50, 
             'Wyoming': 51}

In [ ]:
df2['State_id'] = pd.Series(np.random.randn(len(df2['Year'])), index=df2.index)

In [ ]:
for i, row in df2.iterrows():
  df2.loc[i, 'State_id'] = state_dic[row['State']]

In [ ]:
df2

               State  Year  ...  effective_min_2020 State_id
0            Alabama  1976  ...               10.00      1.0
1             Alaska  1976  ...               12.73      2.0
2            Arizona  1976  ...               10.00      3.0
3           Arkansas  1976  ...               10.00      4.0
4         California  1976  ...               10.00      5.0
...              ...   ...  ...                 ...      ...
28615       Virginia  2020  ...                7.25     47.0
28616     Washington  2020  ...               13.50     48.0
28617  West Virginia  2020  ...                8.75     49.0
28618      Wisconsin  2020  ...                7.25     50.0
28619        Wyoming  2020  ...                7.25     51.0

[27540 rows x 8 columns]

In [ ]:
df2 = df2.loc[df2['Month'] == 1]

In [ ]:
df2

               State  Year  ...  effective_min_2020 State_id
0            Alabama  1976  ...               10.00      1.0
1             Alaska  1976  ...               12.73      2.0
2            Arizona  1976  ...               10.00      3.0
3           Arkansas  1976  ...               10.00      4.0
4         California  1976  ...               10.00      5.0
...              ...   ...  ...                 ...      ...
28032       Virginia  2020  ...                7.25     47.0
28033     Washington  2020  ...               13.50     48.0
28034  West Virginia  2020  ...                8.75     49.0
28035      Wisconsin  2020  ...                7.25     50.0
28036        Wyoming  2020  ...                7.25     51.0

[2295 rows x 8 columns]

In [ ]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
df2.to_csv('final_data.csv')
!cp final_data.csv "drive/My Drive/"